{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Create Todo
{% endblock %}

{% block body %}
    <h1 class="text-center">Create new todo</h1>
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
    {% if (form_errors(form.name)) %}
        <div class="alert alert-danger alert-dismissible fade show form-error" role="alert">
            {{ form_errors(form.name) }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="d-flex align-items-center mb-3">
        {{ form_widget(form.name) }}
        {{ form_widget(form.save) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.name }}</td>
                <td>
                    <button type="button" class="btn btn-warning">
                        <a href="{{ path('todo-delete', {'slug': todo.slug}) }}" class="text-decoration-none link-dark">Delete</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
