{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Todos
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1 class="text-center">Create new todo</h1>
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    <div class="row border-bottom mt-5 fw-bold">
        <p class="col-10">Name</p>
        <p class="col-2">Actions</p>
    </div>
    {% for todo in todos %}
        <div class="row border-bottom py-3">
            <div class="col-10">
                <p>{{ todo.name }}</p>
            </div>
            <div class="col-2">
                <a href="{{ path('app_todo_delete', {'slug': todo.slug}) }}"
                   class="btn btn-warning text-decoration-none link-dark">Delete</a>
                <a href="{{ path('app_todo_update', {'slug': todo.slug}) }}"
                   class="btn btn-secondary text-decoration-none link-white">Update</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
